<ion-scroll>
<div class="search_right" > 
       <div class="padding">
               <img src="{{singleData.photo}}"  class="person_photo_img03 fal_left">
              <span class="des_name">
                <i>姓名：{{singleData.realname}}</i>
                <i>等级：{{singleData.type}}</i>
                <i>收费：<span>{{singleData.desginCost}}</span></i>
                <i>评分：{{singleData.desginScore}}</i>
                <!-- <i ng-click="roomReservations()" desginer>{{decorcompany.state}}</i> -->
                <div ng-click="makeAppointment()" class="icon01 blue fal_left">{{singleData.state}}</div>
              </span>

          <div class="des_intro">
            <p>个人简介 </p>
            <span>
                   {{singleData.introduction}}
            </span>
          </div>
          <div class="des_intro">
            <p>擅长风格 </p>
            <a href="">现代</a><a href="">现代</a><a href="">现代</a><a href="">现代</a><a href="">现代</a><a href="">现代</a>
          </div>
          <div class="des_img">
            <p>设计作品 </p>
            <div class="des_intro02">
              <ul class="housetype">
                <li> <a href=""><img src="{{singleData.works.img1}}" ></a></li>
                <li><a href=""><img src="{{singleData.works.img2}}" ></a></li>
                <li><a href=""><img src="{{singleData.works.img3}}" ></a></li>
              </ul>
            </div> 
        </div>

     </div>
</div> 
</ion-scroll>